<header class="headbar" id="headbar">
    <div class="logo">
        <span class="mainLogo">λ</span>
        <span class="logoText">MONAD BEAT</span>
    </div>

    <div class="gotoLinkFrame">
        <a href="#" class="gotoLink" data-key="problems" data-href="index.html">Question List</a>
        <a href="#" class="gotoLink" data-key="login" id="loginLink" data-href="pages/account.html">Login</a>
        <a href="#" class="gotoLink" data-key="profile" data-href="pages/profile.html">Profile </a>
        <a href="#" class="gotoLink" data-key="rank" data-href="pages/leaderboard.html">Leaderboard</a>
    </div>
</header>   